div,h1,h2,h3,p,li
{
	font-family: 'Source Sans Pro', sans-serif;
}
h1
{
	font-weight: 300;
}
h2
{
	font-weight: 400;
}
h3
{
	font-weight: 700;
	font-size: 20px;
}
p
{
	font-weight: 400;
	font-size: 16px;
}

.donate {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #0083CA;
}

.donate img {
	float: left;
	padding: 3px;
	padding-right: 10px;
}

.donate .progress {
	width: 70%;
	margin-left: 15%;
	margin-right: 5%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.donate .progress-bar {
	 background-color: #7fc1e4;
	 -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.footer {

}

.btn {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	height: 40px;
	line-height: 1;
}

.navbar-nav {
	margin-top:21px;
}